Server:
  RunMode: debug
  HttpPort: 8000
  ReadTimeout: 60
  WriteTimeout: 60
App:
  DefaultPageSize: 10
  MaxPageSize: 100
  LogSavePath: storage/logs
  LogFileName: app
  LogFileExt: .log
  UploadSavePath: storage/uploads
  UploadServerUrl: http://127.0.0.1:8000/static
  UploadImageMaxSize: 5  # MB
  UploadImageAllowExts:  # 上传文件所允许的文件后缀
    - .jpg
    - .jpeg
    - .png
  DefaultContextTimeout: 60
Database:
  DBType: mysql
  Username: root  # 填写你的数据库账号
  Password: root  # 填写你的数据库密码
  Host: 127.0.0.1:3306
  DBName: blog_service
  TablePrefix: blog_
  Charset: utf8
  ParseTime: True
  MaxIdleConns: 10
  MaxOpenConns: 30
JWT:
  Secret: hd2yao
  Issuer: blog
  Expire: 7200
Email:
  Host: smtp.qq.com
  Port: 465
  UserName: 1054290355@qq.com
  Password: zenzcdxoxfifbdac
  IsSSL: true
  From: 1054290355@qq.com
  To:
    - 1054290355@qq.com